
.hero {
    height: 100vh;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
overflow: hidden;

    background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);



    .container {
        height: 100%;
    }

    &__inner {
        height: 100%;
        display: flex;
    }

    &__left {
        width: 60%;
      

    }

    &__text {
        padding: 20px;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        z-index: 1;
        position: relative;

        // max-width: 100px;
        // width: 100%;

        // display: flex;
        &::after {
            position: absolute;
            content: '';
            inset: 0;
            z-index: -1;
            background-color: rgba(#fff, 0.3);
            border-radius: 11px;
            backdrop-filter: blur(10px); 
           -webkit-backdrop-filter: blur(10px); 
        }
    }

    &__right {
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 25px;

        div {
            display: inline-block;
        }

        // background-color: rgba(#0dec2b, 0.2);
        
        // backdrop-filter: blur(10px); /* Размытие заднего фона */
        // -webkit-backdrop-filter: blur(10px); /* Для Safari */
    }

    
}