.hero {
  // height: 100vh;

  background-color: #fced57;
  height: calc(100vh - 100px);
  .container {
    height: 100%;
    padding-top: 100px;
    display: flex;
  }

  &__text {
    // width: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 605px;
    width: 100%;
  }

  &__content {
    border: 1px solid black;
    height: 100%;
    overflow: hidden;
    position: relative;
    max-width: 605px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 50vw;
    svg {
        // transform: scale(1.2, 1.1);
        // inset: 0;
        position: absolute;
        transform: scale(1);
        transform-origin: center;  
        // height: calc(150vh);
        // width: 605px;
        height: auto;
     
    }
  }

  &__bottom {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #1c803d;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
  }
}
